* {
    margin: 0;
}

h1 {
    margin: 0;
}
header {
    /* padding: 10px; */
    margin: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    /* justify-content: space-evenly; */
    background-color: #344d5d;
    border-radius: 10px;
    height: fit-content;
    flex-direction: column;
}

header .first-container {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* margin: 2px; */
    /* padding: 0px 10px; */
}


.first-container .img-logo {
    min-width: 300px;
    height: 100%;
    background-color: #1e2159;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    overflow: hidden;
}

.img-logo .img-2-logo {
    background-color: green;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.img-2-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.first-container .link-nav-user {
    width: 80%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.first-container .link-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}
.first-container .opc-nav {
    width: 150px;
}

/* Search boxes */
.search-hd {
    margin-top: 10px;
    padding-left: 20px;
    height: 38px;
    /* justify-content: flex-start; */
}
.search-hd * {
    height: 100%;
}

.search-hd .box-search {
    max-width: 30%;
    border-radius: 10px 0px 0px 10px;
}

.search-hd .options-input {
    display: block;
}

.search-hd .btn-search {
    border-radius: 0px 10px 10px 0px;
}

/* .search-hd input:focus{
    border-color: #00ff44;
}
*/

header .btn-search {
    background-color: #1e2159;
    transition: background-color 0.3s ease;
}

header .btn-search:hover {
    background-color: #5ca8da;
}

header .btn-search img {
    filter: invert(100%);
    transition: filter 0.3s ease;
}

header .btn-search:hover img {
    filter: invert(0%);
}
