.team-member {
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* Ajusta el ancho, restando el margen */
}
/* Estilo para el contenedor de la imagen y el nombre */
.cont-1-team {
    display: flex;
    align-items: center;
}

/* Estilo para la imagen */
.cont-1-team img {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
}


.cont-1-team h3 {
    margin: 0 0 0 10px;
    width: 100%;
}

.desc-pers {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}


@media screen and (min-width: 520px) and (max-width: 767px) {
    /* Estilos específicos para tablet */
/*     .container {
        width: 80%;
        margin: 0 auto;
    } */
}

/* Media Query para tablet (768px - 991px) */
@media screen and (min-width: 768px) {
    /* Estilos específicos para tablet */
/*     .container {
        width: 80%;
        margin: 0 auto;
    } */
}


/* Media Query para pantallas de PC (más de 992px) */
@media screen and (min-width: 1024px) {
    /* Estilos específicos para PC */
/* =  */
}
