@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    font-family: "Poppins", sans-serif;
}
#root {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    min-width: 800px;
    min-height: 100vh;
    /*     background-color: #fed3d3; */
    background-color: #060233;
    background-color: #1e43a1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='359' height='359' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%239FA9FF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2312018A'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(70%2c 129%2c 189%2c 1)'%3e%3c/rect%3e%3cpath d='M -469.51561851015225%2c102 C -325.52%2c232.4 -37.52%2c732.6 250.48438148984775%2c754 C 538.48%2c775.4 682.48%2c144 970.4843814898477%2c209 C 1258.48%2c274 1596.58%2c1048 1690.4843814898477%2c1079 C 1784.39%2c1110 1490.1%2c507 1440%2c364' stroke='rgba(1%2c 48%2c 97%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1220.571473166909%2c650 C -1076.57%2c619.2 -788.57%2c513.6 -500.57147316690913%2c496 C -212.57%2c478.4 -68.57%2c622 219.42852683309087%2c562 C 507.43%2c502 695.31%2c133.2 939.4285268330909%2c196 C 1183.54%2c258.8 1339.89%2c740 1440%2c876' stroke='rgba(1%2c 48%2c 97%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -880.4887626480602%2c188 C -736.49%2c322.6 -448.49%2c830.6 -160.48876264806015%2c861 C 127.51%2c891.4 271.51%2c298.8 559.5112373519398%2c340 C 847.51%2c381.2 1103.41%2c1083.4 1279.5112373519398%2c1067 C 1455.61%2c1050.6 1407.9%2c419.8 1440%2c258' stroke='rgba(1%2c 48%2c 97%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1427.0573464102945%2c530 C -1283.06%2c599.8 -995.06%2c960.8 -707.0573464102944%2c879 C -419.06%2c797.2 -275.06%2c118.4 12.942653589705628%2c121 C 300.94%2c123.6 447.53%2c815 732.9426535897056%2c892 C 1018.35%2c969 1298.59%2c583.2 1440%2c506' stroke='rgba(1%2c 48%2c 97%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -286.5767368127358%2c710 C -142.58%2c589 145.42%2c36 433.4232631872642%2c105 C 721.42%2c174 865.42%2c1034 1153.4232631872642%2c1055 C 1441.42%2c1076 1816.11%2c215.2 1873.4232631872642%2c210 C 1930.74%2c204.8 1526.68%2c865.2 1440%2c1029' stroke='rgba(1%2c 48%2c 97%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}

.App {
    /* margin: 10px; */
    width: 1550px !important;
    min-width: 800px;
    background-color: #5c8ab3;
    /* min-width: 768px; */
}

.App.register {
    background-color: #e2e2ff;
    border-radius: 10px;
    height: fit-content;
    max-width: 650px !important;
    min-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.App.login {
    background-color: #e2e2ff;
    border-radius: 10px;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 620px !important;
    min-width: 400px;
    /* padding-left: 20px;
    padding-right: 20px; */
}
