#footer {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* text-align: center; */
    align-items: center;
    margin-top: 30px;
}
.magazine-name {
    display: flex;
}

.magazine-name .img-lg-ft {
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.magazine-name,
.social-media-links {
    /* text-align: center;
    align-items: center; */
    flex-basis: 45%; /* O ajusta el valor según tus necesidades */
    width: 50%;
}

.social-media-links {
    /* filter: invert(100%); */
}
.social-media-links .title-social p {
    margin: 0;
    font-weight: bold;
}

.social-media-links img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.1s ease; /* Agrega una transición para suavizar el efecto */
}

.social-media-links img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

.nav-footer,
.copyright {
    flex-basis: 100%; /* O ajusta el valor según tus necesidades */
    margin-top: 20px; /* Espacio entre las dos filas de secciones */
    display: flex;
    margin-left: 50px;
}box-img

/* Asegúrate de ajustar los estilos según tus necesidades específicas */

.nav-footer {
    display: flex;
    flex-direction: row;
}

.nav-footer a {
    margin-right: 25px;
    text-decoration: none;
    color: #000000;
    border-bottom:1px solid #000000;
}

.nav-footer a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    #footer .nav-footer {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-footer, .copyright {
        margin-left: 10px;
    }
}