#home {
    padding: 10px;
    background-color: #a3e2ff;
    /* width: 1500px;     */
    min-width: 800px;
    margin: 0 auto;
    display: grid;
    /* justify-content: center; */
}

#home section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
#home h2 {
    margin: 50px 0px;
    font-weight: bold;
}

#guide-year-section {
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
    height: 700px;
    min-width: 600px;
    max-width: 1200px !important;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-guide {
    height: 550px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-img,
.box-description {
    height: 100%;
    width: 100%; /* Sin 100% se ve bien el guide, con el 100% se ve bien las sects */
    display: flex;
}
.box-img {
    /* height: fit-content  */
    align-items: center;
    justify-content: center;
    /* width: fit-content; */
    transition: transform 0.3s ease-in-out;
}
.box-img:hover {
    transform: scale(1.1);
}
.box-description {
    align-items: center;
    justify-content: center;
    /* background-color: crimson; */
}

.box-img .img-info {
    display: flex;
    align-items: center;
    height: 100%;
    width: 400px;
    margin: 20px;
    /* overflow: hidden; */
    /* background-color: aqua; */
}
.box-img .img-info img{
    /* align-items: center; */
    /* height: 100%; */
    width: 100%;
    /* object-fit: cover; */
    object-position: center;
    overflow: hidden;
}
.box-description .desc-information {
    /* height: fit-content; */
    height: 100%;
    width: 80%;
    padding: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc-information .title-desc {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* width: 50%; */
}


.desc-information .title-desc,
.desc-information .more-information {
    text-align: center;
}
.title-desc .title h2 {
    margin: 20px 0px 20px 0px !important;
}
.desc-information .description {
    text-align: justify;
}


/* IMAGES ADS CARRUSEL */
.ads-carousel {
    background-color: blueviolet;
    width: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
/*  */

/* CARRUSEL GUIAS */
/* .other-guide-books {
    text-align: center;
}*/

/* GUIDE-SECTIONS */
.guide-sects {
    background-color: #ffb9b9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 550px;
}

.guide-sects .title-sections {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTION-INFO */
#information-section {
    height: fit-content;
    /* height: 500px; */
    width: 1100px;
    background-color: azure;
    margin:  30px 0px;
}
.sect-info {
    display: flex;
    flex-direction: columns;
    height: 440px;
    /* background-color: aqua; */
}

/* OUR TEAM */
.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    align-items: flex-start;
    height: fit-content;
}

.title-our-team {
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espacio entre el título y los contenedores de usuario */
}


.cont-btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

/* FOOTER */