.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.container h2 {
    font-weight: bold !important;
}

.register-box {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.container .img-register {
    margin: 0px;
    /* display: none; */ /* Para mobile lo activamos */
}

.container .welcome-text {
    padding: 10px 100px 0px 100px;
}
.container .welcome-text p {
    font-size: 18px;
}

.container .form-register {
    padding: 10px;
}
.container form .box-inp {
    margin-top: 20px;
    margin-bottom: 20px !important;
    font-weight: bold;
}
.box-inp input[type="text"] {
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}
.container .btn-contain {
    text-align: center;
}
.btn-contain button {
    width: 100%;
}

.container .therms-conditions,
.container .have-account {
    margin: 10px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .box-inp.row {
        display: flex;
        flex-direction: column;
    }

    .box-inp.row .col {
        margin-bottom: 10px; /* Espacio entre los campos */
    }

    .box-inp.row input[type="text"],
    .box-inp.row input[type="email"],
    .box-inp.row input[type="password"] {
        width: 100%;
    }
}



/* REGISTER 'EDITOR' */
/* Estilo para el bloque de campos adicionales (editor-fields) */
.editor-fields {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
}

.editor-fields.open {
    max-height: 300px; /* Puedes ajustar este valor según tus necesidades */
    opacity: 1;
}

/* Estilo para el label e input del editor */
.label-check-editor {
    font-weight: bold;
    margin-right: 10px;
}

/* Estilo para el select de roles */
#role {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Estilo para la descripción */
#description {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Puedes ajustar a tu fuente preferida */
    font-size: 14px;
    resize: vertical; /* Permite al usuario ajustar el tamaño verticalmente */
    max-height: 150px; /* Limita el tamaño máximo del textarea */
}

/* Espaciado entre los elementos dentro de .editor-fields */
.editor-fields div {
    margin-bottom: 10px;
}